@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Berkeley Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/BerkeleyMonoTrial-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "Blender Pro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/BlenderPro-Book.woff2) format("woff2");
}
@font-face {
  font-family: "Blender Pro";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/BlenderPro-Medium.woff2) format("woff2");
}
@font-face {
  font-family: "Blender Pro";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/BlenderPro-Bold.woff2) format("woff2");
}

body {
  @apply antialiased text-gray-900;
}

.body-container {
  @apply space-y-6;
}

.body-container ol,
.body-container ul {
  @apply pl-6 space-y-2;
}

.body-container ul {
  @apply list-disc;
}
.body-container ol {
  @apply list-decimal;
}

/* job info */
.jobinfo-content {
  @apply space-y-4 font-blender leading-tight text-lg;
}
.jobinfo-content h1,
.jobinfo-content h2,
.jobinfo-content h3 {
  @apply font-bold;
}
.jobinfo-content h1 {
  @apply text-4xl;
}
.jobinfo-content h2 {
  @apply text-3xl;
}
.jobinfo-content h3 {
  @apply text-2xl;
}
.jobinfo-content ol,
.jobinfo-content ul {
  @apply pl-8 space-y-2;
}

.jobinfo-content ol {
  @apply list-decimal;
}
.jobinfo-content ul {
  @apply list-disc;
}
