@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Berkeley Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/BerkeleyMonoTrial-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "Blender Pro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/BlenderPro-Book.woff2) format("woff2");
}
@font-face {
  font-family: "Blender Pro";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/BlenderPro-Medium.woff2) format("woff2");
}
@font-face {
  font-family: "Blender Pro";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/BlenderPro-Bold.woff2) format("woff2");
}

html.dark [data-hide-on-theme="dark"],
html.light [data-hide-on-theme="light"] {
  display: none;
}

body {
  @apply antialiased text-gray-900;
}

.body-container {
  @apply space-y-6;
}

.body-container ol,
.body-container ul {
  @apply pl-6 space-y-2;
}

.body-container ul {
  @apply list-disc;
}
.body-container ol {
  @apply list-decimal;
}

/* job info */
.jobinfo-content {
  @apply space-y-4 font-blender leading-tight text-lg font-medium;
}
.jobinfo-content h1,
.jobinfo-content h2,
.jobinfo-content h3 {
  @apply font-bold !mt-8;
}
.jobinfo-content h1 {
  @apply text-2xl;
}
.jobinfo-content h2 {
  @apply text-xl;
}
.jobinfo-content h3 {
  @apply text-xl;
}
.jobinfo-content ol,
.jobinfo-content ul {
  @apply pl-8 space-y-2;
}
.jobinfo-content ol {
  @apply list-decimal;
}
.jobinfo-content ul {
  @apply list-disc;
}

/* page content */
.page-content {
  @apply font-medium;
}
.page-content h2 {
  @apply text-3xl font-bold;
}
.page-content h3 {
  @apply text-2xl font-bold;
}
.page-content ul,
.page-content ol {
  @apply pl-8 space-y-3;
}
.page-content ul {
  @apply list-disc;
}
.page-content ol {
  @apply list-decimal;
}
.page-content a {
  @apply text-blue-600 underline decoration-1;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* home swiper */
.home-swiper .swiper-pagination .swiper-pagination-bullet {
  background-color: #757575;
  margin: 0 2px !important;
  width: 12px;
  @apply rounded-full;
}
.home-swiper
  .swiper-pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  @apply w-8 transition rounded-full bg-[#4C90F0];
}
.home-swiper.custom-grid .swiper-wrapper .swiper-slide {
  @apply lg:!m-0 lg:h-full lg:!w-full;
}
.home-swiper.custom-grid .swiper-wrapper {
  @apply lg:grid lg:grid-cols-2 lg:gap-12;
}
.home-swiper .swiper-pagination .swiper-pagination-bullet {
  @apply lg:hidden;
}

/* modules-section */
.modules-section .content {
  @apply space-y-3 text-lg font-medium;
}
.modules-section .content h3,
.modules-section .content h4 {
  @apply font-semibold;
}
.modules-section .content h3 {
  @apply text-2xl;
}
.modules-section .content h4 {
  @apply text-xl;
}
.modules-section .content ul {
  @apply list-disc pl-6;
}
.modules-section .menu {
  @apply hover:bg-[#E4F0FF];
}
.modules-section .menu.active {
  @apply md:bg-[#E4F0FF];
}
.modules-section .menu:hover .square,
.modules-section .menu.active .square {
  @apply md:border-[#215DB0];
}
.modules-section.dark .menu:not(:hover, .active) .square {
  @apply border-[#ABB3BF];
}
.modules-section .menu:hover .title-menu {
  @apply text-[#215DB0];
}
.modules-section .menu.active .title-menu {
  @apply md:text-[#215DB0];
}
.modules-section .menu:hover .description-menu {
  @apply text-[#215DB0];
}
.modules-section .menu.active .description-menu {
  @apply md:text-[#215DB0];
}
.modules-section.dark .title,
.modules-section.dark .description {
  @apply text-white;
}
.modules-section.dark {
  @apply bg-[#1C2127];
}
.modules-section.dark .menu:hover {
  @apply bg-[#1B283B];
}
.modules-section.dark .menu.active {
  @apply md:bg-[#1B283B];
}
.modules-section.dark .menu .title-menu {
  @apply text-white;
}
.modules-section.dark .menu:hover .title-menu {
  @apply text-[#8ABBFF];
}
.modules-section.dark .menu.active .title-menu {
  @apply md:text-[#8ABBFF];
}
.modules-section.dark .menu .description-menu {
  @apply text-[#ABB3BF];
}
.modules-section.dark .menu.active .description-menu {
  @apply md:text-[#8ABBFF];
}
.modules-section.dark .menu:hover .description-menu {
  @apply text-[#8ABBFF];
}
.modules-section.dark .content h3,
.modules-section.dark .content h4 {
  @apply text-white;
}
.modules-section.dark .content {
  @apply text-[#ABB3BF];
}
.modules-section.dark .vertical-line {
  @apply border-[#1C2127];
  background: linear-gradient(#fff 0 0) padding-box,
    linear-gradient(to bottom, #4c90f0, #4c90f0 49%, #4c90f000) border-box;
}
.modules-section .vertical-line {
  @apply border-white;
  background: linear-gradient(#fff 0 0) padding-box,
    linear-gradient(to bottom, #94bbe9, #94bbe9 49%, #94bce900) border-box;
}
.vertical-line {
  @apply border-white;
  background: linear-gradient(#fff 0 0) padding-box,
    linear-gradient(to bottom, #94bbe9, #94bbe9 49%, #94bce900) border-box;
}
.modules-section .content .box-content {
  @apply bg-[#E5E8EB];
}
.modules-section.dark .content .box-content {
  @apply bg-[#2F343C];
}

/* integration page swiper */
.integration-swiper {
  /* @apply !pb-4; */
}
.integration-swiper .swiper-pagination .swiper-pagination-bullet {
  background-color: #757575;
  margin: 0 2px !important;
  width: 12px;
  @apply rounded-full;
}
.integration-swiper
  .swiper-pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  @apply w-8 transition rounded-full bg-[#4C90F0];
}
.integration-swiper.custom-grid .swiper-wrapper .swiper-slide {
  @apply lg:!m-0 lg:h-full lg:!w-full;
}
.integration-swiper.custom-grid .swiper-wrapper {
  @apply lg:grid lg:grid-cols-2 lg:gap-12;
}
.integration-swiper
  .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal.swiper-pagination-clickable {
  @apply !-bottom-0 mt-4;
}
/* .integration-swiper .swiper-button-prev {
  @apply bg-[url('/img/icons/chevron-left.svg')] text-gray-500 h-6 w-6 mt-6 absolute left-0;
}
.integration-swiper .swiper-button-next {
  @apply bg-[url('/img/icons/chevron-right.svg')] text-gray-500 h-6 w-6 mt-6 absolute right-0;
} */
